<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Things</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% block link %}
                <!-- child link goes here -->
                <li><a  href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% endblock link%}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- child content goes here -->
        {% endblock content%}

        {% block text %}
        <!-- child text goes here -->
        {% endblock text%}
    </main>
    <footer>
        <p>&copy; RihanFoudeh</p>
    </footer>

</body>

</html>